.container {
  position: relative;
  text-align: center;
  padding-left: 55px;
}

.container iframe {
  padding-top: 30px;
}

.container-project {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.container-project li {
  margin: 0 0 5px 0;
}

.photo-container {
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 20px;
}

.nav a {
  color: #5a5a5a;
  font-size: 21px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  text-align: center;
  display: inline;
}

.title h1 {
  color: #000;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.intro {

  font-size: 18px;
  font-family: 'Shift', sans-serif;

}

.dropdown-menu {
  display: inline;
  position: relative;
  text-align: center;
  float: none;
  font-family: 'Shift', sans-serif;

}
