.container {
  position: relative;
  text-align: center;
  padding-left: 55px;
  height : -500px;

}

.photo-container {
  text-align: center;
}

.nav a {
  color: #5a5a5a;
  font-size: 21px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  text-align: center;
  display: inline;
}

/*.nav ul li ul li {
  display: list-item;
  text-align: center;
  position: relative;
  font-family: 'Shift', sans-serif;
  width: 250px;
  height: 20px;
  float: left;
}*/

/*.nav ul li ul li a {
  font-family: 'Shift', sans-serif;
 }*/

.title h1 {
  color: #000;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.intro {

  font-size: 18px;
  font-family: 'Shift', sans-serif;

}

.dropdown-menu {
  display: inline;
  position: relative;
  text-align: center;
  float: none;
  font-family: 'Shift', sans-serif;

}
